<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Maintenance Page</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>

    <p>Hi. {{name}} We'll be back very soon</p>

    {{> footer}}
  </body>
</html>
